.feature-img{
    width: 100%;
}
.feature-img img{
    height: auto;
    width: 100%;
}
.feature-description{
    
}
.feature-description p{
    font-size: 19px;
    text-align: justify;
}
@media(max-width:575px){
    .feature .feature-img{
        margin-left: 9%;
    }
    .feature-description{
        margin-left: 9%;
    }
}